*{    
    box-sizing: border-box;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    position: relative;
    font-size: 22px;
    background-color: white;
    color: black;
}

main {
    display: flex;
    margin-top: 2%;
}

header {
    border: 3px black solid;
    background-color: lightblue;
}

.about-box {
    flex: 1 0 200px;
    border-style: solid;
    padding: 10px;
    border-width: 2px;
}
    
.computer #computer {
    flex: 1 0 800px;
    padding: 25px;
    border-style: solid;
    border-width:2px;
    float: center;
}

.projects {
    flex: 3;
    background-color: lightpink;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pictures {
    border-style: dotted;
    border-radius: 5px;
    padding: 5px;
    border-width: 2px;
    flex: 1 1 200px;
}

.pictures img {
    width: 100%;
}

.contact-me {
    border: 3px black solid;
    clear: both;
}

#menu ul {
    margin-right: 2px;
}

#menu li {
    list-style-type: none;
    width: 10em;
    text-align: center;
    float: right;
}

#menu a {
    text-decoration: none;
    color: black;
    display: block;
    background-color: lightgreen;
    margin-bottom: 2px;
    margin-right: 2px;
    border-radius: 3px;
    border: 1px outset gray;
    box-shadow: 5px 5px 5px lightgreen;
}
#menu a:hover {
    background-color: pink;
    box-shadow: 2px 2px 2px orange;
    border: none;
}

@media screen and (max-width: 768px){
   main,
    nav {
        flex-direction: column;
    }